<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="dbConnectString" connectionString="server=DESKTOP-190LTEL;database=ITB_CK;user id=sa;pwd=123456"/>
  </connectionStrings>
</configuration>