<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="dbConnectString" connectionString="server=DESKTOP-190LTEL;database=ITB_CK;user id=sa;pwd=123456"/>
    <add name="programName" connectionString="IT"/>
    <add name="hostName" connectionString="IT"/>
    <add name="teamID1" connectionString="2019100001"/>
    <add name="teamID2" connectionString="2019100002"/>
    <add name="teamID3" connectionString="2019100003"/>
    <add name="getTeamExaming" connectionString="select dbo.GetTeamIdExaming()"/>
    <add name="round1GetCommandToGetNextQuestion" connectionString="GetNextQuestionForTeamRound1"/>
    <add name="round3GetCommandToGetPreviousQuestion" connectionString="GetPreviousQuestionForTeamRound3"/>
    <add name="round3GetCommandToGetNextQuestion" connectionString="GetNextQuestionForTeamRound3"/>
    <add name="round1GetRightRate" connectionString="select dbo.CheckTeamNumberOfRightAnswerRound1(@teamId)"/>
    <add name="InsertResultRound1" connectionString="InsertResultDetail"/>
    <add name="MakeExaming" connectionString="MakePendingBecomeExamingRound1"/>
    <add name="MakeDone" connectionString="MakeExamingBecomeDoneRound1"/>
    <add name="InsertPointRound2" connectionString="InsertPointRound2"/>
    <add name="GetResultDetailRound3" connectionString="GetResultDetailRound3"/>
    <add name="UpdateResultDetailRound3" connectionString="InsertOrUpdateResultDetailRound3"/>
    <add name="ShowKeyCMD" connectionString="MakeScreensShowKey"/>
  </connectionStrings> 
</configuration>